<h1>Elovate</h1>
<p>hi!</p>
<p>here's a list of our users and their scores:<p>
<table>
<% @users.each do |u| %>
  <tr>
    <td><%= u.username %> </td>
    <td><%= u.elo %></td>
    </tr>
<% end %>
</table>
